header {
  height: 100vh;
  overflow: hidden;
}
.header-container {
  display: grid;
  grid-template-columns: 34% auto;
  align-items: center;
  padding: 40px;
  gap: 4rem;
  height: 100%;
  position: relative;
}

.header-container::before {
  content: "";
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  z-index: -1;
  left: -80%;
}

.header-container img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 100%;
}

.header-right {
  width: 90%;
  max-width: 700px;
}

.header-right h1 {
  margin-bottom: 1.4rem;
}

@media (max-width: 768px) {
  .header-container {
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center; 
  }

  .header-container::before {
    transform: rotate(-54deg);
    left: 26%;
    top: -40%;
  }

  .header-container img {
    width: 70

  }
}