.About {
  padding-bottom: 0 !important;
}
.about-container {
  display: grid;
  grid-template-columns: 52% auto;
  gap: 3rem;
}
.about-left p {
  margin-top: 1rem;
}
.about-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about-right article h1 {
  margin: 0%;
}

@media (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about-right {
    grid-row: 1;
  }
}

@media (max-width: 1024px) {
  .about-right {
    gap: 1rem;
  }
}
