.contact-container {
  width: 50%;
}

.contact-container input,
textarea {
  border: 2px solid var(--color-dark);
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  background: transparent;
  color: var(--color-dark);
  resize: none;
}
.contact-container button {
  cursor: pointer;
  background: transparent;
  margin-top: 0 !important;
}



@media (max-width: 1024px) {
  .contact-container {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .contact-container {
    width: 90%;
  }
}
